html {
    cursor: url(cursor.svg) 50 40, auto; 
}
body {
    padding: 50px;
    background-color: #e2f4e1; 
    font-family: "Raleway", serif;
    margin: 0;
}

a {
    cursor: default;
}

@keyframes grow {
    0% {transform: scale(0.5);}
    100% {transform: scale(1);}
}

.grow {
    animation: grow 0.5s ease-out 1;
}

#alphabet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;

    div {
        position: relative; 
        width: 160px; 
        height: 208px;
    }
}