body {
    margin: 0;
    /* font-family: "Roboto", sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#scroll-container::-webkit-scrollbar {
    display: none;
}

#scroll-container {
    overflow-y: scroll;
    height: 100vh;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    overflow-x: hidden;
}

.image {
    background-color: cornflowerblue;
}

.photo-section {
    height: 3000px;
    position: relative;
}

.sticky-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: sticky;
    top: 0;
}

.sticky-section-no-flex {
    height: 100vh;
    position: sticky;
    top: 0;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: min(80vh, 80vw);
    width: min(80vh, 80vw);
    gap: 8px;

    .image:first-of-type {
        background-image: url('../pictures/shoes_cover.JPEG');
        background-size: cover;
        background-position-y: -27px;
    }

    .image:nth-of-type(2) {
        background-image: url('../pictures/bike_feet_cover.JPEG');
        background-size: cover;
        background-position-y: -25px;
    }

    .image:nth-of-type(3) {
        background-image: url('../pictures/ATR.JPEG');
        background-size: cover;
    }

    .image:nth-of-type(4) {
        background-image: url('../pictures/4x4Hug.jpg');
        background-size: cover;
        background-position-y: -57px;
    }

    .image:nth-of-type(5) {
        background-image: url('../pictures/myrtlebeach.JPEG');
        background-size: cover;
        background-position-x: -63px;
    }

    .image:nth-of-type(6) {
        background-image: url('../pictures/natty-champ.JPEG');
        background-position-x: -25px;
        background-position-y: -2px;
        background-size: 138%;
    }

    .image:nth-of-type(7) {
        background-image: url('../pictures/sec7.JPEG');
        background-size: cover;
        background-position-y: -38px;
    }

    .image:nth-of-type(8) {
        background-image: url('../pictures/sec8.JPG');
        background-size: cover;
        background-position-x: -40px;
    }

    .image:nth-of-type(9) {
        background-image: url('../pictures/sophie-natty.JPEG');
        background-size: cover;
        background-position-x: -15px;
    }
}

header {
    color: var(--subtext-color);
    font: var(--subtext);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 12px 16px;
    position: fixed;
    top: 0;
    width: calc(100% - 32px);
    z-index: 10;
}

[scroll-frames] {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 65%;
    margin: auto;
}

hr {
    opacity: 0;
}

.section-title {
    font: var(--section-title);

    span {
        position: absolute;
        top: calc(100vh - 52px);
        color: var(--subtext-color);
        left: calc(50% - 24px);
        font-size: 3rem;
    }

    div:first-of-type {
        display:flex; 
        flex-direction:column; 
        align-items: center;
        gap: 12px;
    }
}