#section1 {
    font: var(--title);
    
    #title {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        position: relative;
        top: -80px;
        left: calc(50% - 24px);
        font-size: 3rem;
    }
}

#section3 {
    /* div {
        height: 400px;
    } */
     align-items: normal;
    
    img {
        width: 200px;
    }
}

.goals {
    div {
        /* top: calc(50vh - 100px); final position */
        position: absolute;
        left: calc(50vw - 100px);
        top: calc(50vh + 200px);
        opacity: 0;
    }
    /* div:first-of-type {
        
        
        
    }
    div:nth-of-type(2) {
       transform: rotate(-20deg);
    }
    div:nth-of-type(3) {
        transform: rotate(20deg);
    } */
}