#section1 {
    font: var(--title);
    
    #title {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #cta {
        position: relative;
        top: -80px;
        font: var(--subtext);
        color: var(--subtext-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        margin: auto;
    }

    span {
        font-size: 3rem;
    }
}

#section3 {
     /* align-items: normal; */
    
    
}

.goals {
    img {
        width: 200px;
    }
    div {
        /* top: calc(50vh - 100px); final position */
        position: absolute;
        left: calc(50vw - 100px);
        top: calc(50vh + 200px);
        opacity: 0;
    }
}

.woSheets {
    img {
        /* aspect ratio is roughly 50:65 */
        height: 70vh;
        position: absolute;
        left: calc(50vw - 23.5vh);
        top: calc(50vh + 47vh);
        /* top: calc(50vh - 35vh);  final position*/

    }
}